{% from 'macros.htm' import find_notifs, addr_fmt, special_fmt, map_image, prim_category, category_fmt %}
{% extends 'base.htm' %}
{% set title = 'Checked In' %}

{% block body %}
    {% call(msg) find_notifs(notif, 'message') %}
	<p>{{ msg.message|e }}
    {% endcall %}

    {% set venue = checkin.venue %}
    {% if venue %}
	<p><a class="button" href="/venue?vid={{ venue.id|urlencode }}">{{ venue.name|e }}</a><br>{{ addr_fmt(venue) }}
	{% set location = venue.location %}
	{% if location.lat and location.lng %}
	    {{ map_image(location.lat, location.lng) }}
	{% endif %}

	{% call(cat) prim_category(venue) %}
	    {{ category_fmt(cat) }}
	{% endcall %}
    {% endif %}

    {% call(mayor) find_notifs(notif, 'mayorship') %}
	{% set user = mayor.user %}
	{% if user %}
	    <p><img src="{{ user.photo|e }}" class="usericon, lefticon" alt="">{{ mayor.message|e }}
	    <br style="clear:both">
	{% else %}
	    <p>{{ mayor.message|e }}
	{% endif %}
    {% endcall %}

    {% call(badge) find_notifs(notif, 'badge') %}
	{% for b in badge.itervalues() %}
	    {% set iconurl = '' %}
	    {% set img = b.image %}
	    {% if img %}
		{% set iconurl = img.prefix ~ img.sizes[0] ~ img.name %}
	    {% endif %}
	    <p><img src="{{ iconurl|e }}" class="lefticon">
	    You've unlocked the {{ b.name|e }} badge: {{ b.description|e }}
	    <br style="clear:both">
	{% endfor %}
    {% endcall %}

    {% call(score) find_notifs(notif, 'score') %}
	{% for s in score.scores %}
	    <p><img src="{{ s.icon|e }}" class="lefticon">
	    {{ s.points|e }} points: {{ s.message|e }}
	    <br style="clear:both">
	{% endfor %}
    {% endcall %}

    {% call(special) find_notifs(notif, 'special') %}
	<p>{{ special_fmt(special.special) }}
    {% endcall %}

    {% call(leaderboard) find_notifs(notif, 'leaderboard') %}
	{% for leader in leaderboard.leaderboard %}
	    {% set user = leader.user %}
	    {% set scores = leader.scores %}
	    <p><img src="{{ user.photo|e }}" class="usericon, lefticon" alt=""> #{{ leader.rank|e }}: {{ user.firstName|e }} {{ user.lastName|e }} from {{ user.homeCity|e }}<br>
	    {{ scores.recent|e }} points, {{ scores.checkinsCount|e }} checkins, {{ scores.max|e }} max<br style="clear:both">
	{% endfor %}
	<p>{{ leaderboard.message|e }}
    {% endcall %}
{% endblock %}

{# vim:set ft=htmldjango tw=0: #}
