{% extends 'base.htm' %}
{% set title = 'Privacy Policy' %}
{% set nolocate = true %}
{% set nologout = true %}

{% block body %}
<h1>Privacy Policy</h1>

<h2>What information do we collect?</h2>

<p>Nothing at all. Your login is processed by Foursquare via the OAuth protocol. Your access tokens, option settings, and location are stored in a cookie on your web browser, and not on the PlainSquare server.</p>

<h2>What do we use your information for?</h2>

<p>Your information is used only to perform Foursquare actions (e.g. venue searches and check-ins) that you initiate.</p>

<h2>How do we protect your information?</h2>

<p>Since we do not store any of your information, security of that information depends on the security of your computer or mobile device. The browser cookie that PlainSquare uses is itself encrypted to prevent data extraction even if your system is compromised or if the cookie is intercepted.</p>

<h2>Do we use cookies?</h2>

<p>PlainSquare uses one encrypted browser cookie to save your Foursquare access tokens, option settings, and location.</p>

<h2>Do we disclose any information to outside parties?</h2>

<p>No, we do not sell, trade, or transfer any of your personally-identifiable information to outside parties. None of that is stored on the server anyway.</p>

<h2>Third party links</h2>

<p>PlainSquare includes information from and links to Foursquare, Google Maps, and Bing Maps. Usage of those information and links is subject to privacy policies of those third party websites.</p>

<h2>Your Consent</h2>

<p>By using our site, you consent to our privacy policy.</p>

<h2>Changes to our privacy policy</h2>

<p>Any changes will be posted on this page. This policy was last modified on 2013-05-10.</p>

{% endblock %}

{# vim:set ft=htmldjango tw=0: #}
