{% extends 'base.htm' %}
{% set title = 'Set location' %}
{% block body %}
<noscript>
<p><span class="error">No Javascript support or Javascript disabled.</span> Can't set location.</p>
</noscript>
<p><span id="error"></span><span id="output"></span>
<form class="formbox" action="/setloc" onSubmit="box_onsubmit(); return false;" method="get">
Search again? <input class="inputbox" type="text" name="newloc" id="newloc"
size="16"><input class="submitbutton" type="submit" value="Go"></form>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="lib.js"></script>
<script type="text/javascript" src="geocode.js"></script>
<script type="text/javascript">
    window.onload = do_geocode('{{ newloc }}');
</script>
{% endblock %}

