{% from 'macros.htm' import name_fmt, twitter_fmt %}
{% extends 'base.htm' %}
{% set title = 'User Profile' %}

{% block body %}

<p><img src="{{ user.photo|e }}" class="usericon, lefticon" alt="">{{ name_fmt(user) }}<br>
{% set contact = user.contact %}
{% if contact %}
    {% if contact.homeCity %}
	{{ contact.homeCity|e }}<br>
    {% endif %}
    {% if contact.homeCity %}
	{{ contact.homeCity|e }}<br>
    {% endif %}
    {% if contact.email %}
	<a href="mailto:{{ contact.email|urlencode }}">{{ contact.email|e }}</a><br>
    {% endif %}
    {% if contact.phone %}
	{% set phoneStr = contact.phone|phonefmt %}
	<a href="tel:{{ contact.phone|urlencode }}">{{ phoneStr|e }}</a><br>
    {% endif %}
    {{ twitter_fmt(contact.twitter) }}
    {% if contact.facebook %}
    	<a href="http://www.facebook.com/{{ contact.facebook|urlencode }}">Facebook</a>
    {% endif %}
{% endif %}

<br style="clear:both">

{% endblock %}

{# vim:set ft=htmldjango tw=0: #}
